.listSearch{
  background: #eee;
  .searchBox{
  }
  .van-icon-arrow-left{
    float: left;
    line-height: 45px;
  }
  .van-search{
    width: 82%;
    height: 100%;
    padding: 0;
    float: right;
  }
  .__vuescroll{
   
  }
  .tabs{
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    height:calc(100vh - 140px);
    .list{
      flex: 0 0 50%;
      position: relative;
      height:540rpx;
      line-height: 20px;
      width:50%;
      background:#eee;

      .inner{
          padding:15px;
          margin:5px 2.5px;
          background: #fff;
      }
      image{
        width: 120px;
        height:120px;
      }
      .title{
        font-size: 16px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
      .price{
       font-size: 16px;
       color: #ec2c0d;
     }
     .pv{
       font-size: 16px;
       color: #ec2c0d;
       margin-bottom: 20px;
     }
     .addcart{
       margin-top: 10px;
     }
     .van-stepper{
       width: 120px;
       display: inline-block;
       float: left;
       margin-top: 10px;
     }
     .cart_icon{
        color:#fc8a04;
        font-size:20px;
        position:absolute;
        right:15px;
        bottom:25px;
     }
   }
  }
  
  .van-tab__pane{
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    
  }
}
