@import '~@/assets/css/function.scss';
.banner {
  swiper{
    height:180rpx;
    swiper-item{
      height: 100%;
      .slide-image{
        height: 100%;
        width: 100%;
      }
    }
  }
  
}
