@import '~@/assets/css/function.scss';
@import '~@/assets/css/variable.scss';
#orderDetail {
  color: $font-color-black;
  padding-bottom: half(28px);
  .van-submit-bar{
    background: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .status-bar {
    height: half(115px);
    background-color: #45adff;
    font-size: half(28px);
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: half(59px);
    .status-icon {
      margin-right: half(17px);
    }
  }
  .location {
    padding-top: half(26px);
    padding-left: half(59px);
    padding-bottom: half(26px);
    font-size: half(26px);
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-top: 5px;
    .van-icon {
      color: #fe6262;
      margin-right: half(15px);
    }
  }
  .steps {
    padding-left: 50px;
    margin-bottom: half(19px);
    .text,
    .time {
      color: #bbc0cb;
      font-size: half(22px);
      &.active {
        color: $font-color-black;
        font-size: half(24px);
      }
    }
  }
  .footer {
    margin-top: half(10px);
    background-color: #fff;
    padding: half(27px) half(28px);
    display: flex;
    flex-direction: column;
    font-size: half(24px);
    color: #626b77;
    position: relative;
    .copy {
      width: half(120px);
      height: half(44px);
      line-height: half(44px);
      color: #626b77;
      position: absolute;
      top: half(9px);
      right: half(30px);
    }
  }
  .funditem{
    background: #fff;
    padding-left: 15px;
    .label{
      float: left;
      padding-top: 10px;
    }
    .van-radio__input{
         line-height: 26px;
    }
    van-radio-group{
      display: inline;
      padding-left: 10px;
      padding-top: 10px;
      float: left;
      van-radio{
        height: 25px;
        display: inline;
        float: left;
        padding-left: 10px;
      }
    }
  }
  .btn-group{
    text-align: center;
    margin: 10px;
    .van-button{
      margin-top: 20px;
    }
  }
  .step1{
    padding: 30px 0;
    background: #fff;
  }
  .step4{
    text-align: center;
    padding: 30px;
    background: #fff;
    .van-icon-passed{
      font-size: 80px;
      color:#1ede7e;
    }
  }
  .header{
    font-size: 16px;
    padding-left: 15px;
    padding-top: 10px;
    .price{
      font-size: 13px;
    }
  }
  .price{
    color: #666;
    span{
      color: #fe6262;
      font-size:16px;
    }
  }
  .van-actionsheet{
      max-height: 70%;
  }
}
