.category{
    ul{
        li{
            text-align: center;
            border: 1px solid #eee;
            padding: 5px 0;
            position: relative;
            a{
              color:#333;
              text-decoration: none;
            }
        }
        .active{
            background: #fff;
            &:before{
                position: absolute;
                content:'';
                height:28px;
                left:0;
                top:2px;
                width: 3px;
                background: #ce2323;
            }
        }
        
    }
}