@import '~@/assets/css/mixin.scss';
@import '~@/assets/css/function.scss';

.subnav{
  margin-bottom: half(16rpx);
  border-bottom:1rpx solid #eee;
  .nav{
    @include clearfix;
    background: #fff;
    padding: half(30rpx) 0 half(15rpx);
    &-item{
      float: left;
      width: 33%;
      margin-bottom: 16rpx;
      text-align: center;
      .iconfont1{
        font-size:40rpx;
      }
      .icon-jiating{
        color: #f31303;
      }
      .icon-dingdan {
        color: #ffcc33;
      }
      .icon-huiyuan1 {
          color: #f303c8
      }
      .icon-dingdan1 {
          color: #1296DB
      }
      .icon{
        height: half(88rpx);
        width: half(88rpx);
        border-radius: 50%;
        display: block;
        margin: auto;
      }
      .label{
        margin-top: half(8rpx);
        font-size: half(22rpx);
        color: #333b46;
        line-height: half(18rpx);
      }
    }
  }
}
