@import '~@/assets/css/function.scss';
@import '~@/assets/css/variable.scss';

#mineSetting {
  padding-top: 0;
  .van-cell__value {
    font-size: half(28px);
    color: #bbc0cb;
  }
  .van-cell__title {
    font-size: half(32px);
    color: $font-color-black;
  }
  .sex-cell{   
    .van-cell__title{
        padding-top: 10px;
    }
    .van-icon-arrow{
        padding-top: 10px;
    }
  } 
  .top-cell-group {
    margin-bottom: half(30px);
    van-cell {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        flex-direction: row;
      img {
        border-radius: 50%;
        display: inline-block;
        width:50px;
        height: 50px;
      }
      .gender-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .van-switch--on {
          background-color: #45adff;
        }
      }
    }
    
  }
  .help-cell-group {
    margin-bottom: half(105px);
  }
  .sign-out-btn-wrapper {
    padding: 0 half(30px);
    .van-button {
      background-color: #45adff;
      border-radius: 8px;
      font-size: half(28px);
      color: #ffffff;
    }
  }
}
