@import '~@/assets/css/mixin.scss';
@import '~@/assets/css/function.scss';
.lists {
  display: flex;
  flex-wrap: wrap;
  &-item {
    overflow: hidden;
    position: relative;
    flex:0 0 50%;
    width:50%;
    &:last-child {
      border: 0;
    }
    .inner{
      position: relative;
      margin: 2.5rpx;
      padding: 10rpx 5rpx 15rpx;
      background-color: #fff;
      border-radius: 5rpx;
      .imgs {
        background: #fff;
        text-align: center;
        .imagesLazy{
          width: half(200rpx);
          height: half(200rpx);
        }
      }
      .van-stepper{
        margin-top:20rpx;
        float:left;
      }
      .add_cart{
        margin-top:20rpx;
        float:left;
        margin-left:15rpx;
      }
      .cart_icon{
        margin-top: 20rpx;
        margin-left: 10rpx;
        color: #fc8a04;
        font-size: 20rpx;
        position:absolute;
        right:15rpx;
        bottom:16rpx;
      }
    }
   
    .info {
      margin: half(15rpx) 0 half(8rpx) 0;
      .label {
        font-size: half(28rpx);
        margin-bottom: half(20rpx);
        color: #333b46;
        height: half(30rpx);
        line-height: half(30rpx);
        @include omit;
        
      }
      .desc {
        color: #bbc0cb;
        font-size: half(24rpx);
        @include omit;
        line-height: half(26rpx);
        margin-bottom: half(8rpx);
      }
      .price {
        color: #fc8a04;
        font-size: half(20rpx);
        .total {
          font-size: half(40rpx);
        }
      }
    }
  }
}
