@import '~@/assets/css/mixin.scss';
@import '~@/assets/css/function.scss';
#homeorder {
  margin-bottom:20px;
  .lists {
    display: flex;
    flex-wrap: wrap;
    padding-bottom:10px;
    &-item {
      overflow: hidden;
      position: relative;
      flex:0 0 50%;
      width:50%;
      &:last-child {
        border: 0;
      }
      .inner{
        margin:15rpx 7rpx 0;
        padding:0 0rpx 30rpx;
        background-color:#fff;
        border-radius:10rpx;
        height:500rpx;
        border:2rpx solid #fff;
        box-shadow:0px 0px 10px #fff;
        .imgs {
          text-align: center;
          padding: 10px;
          .imagesLazy{
            width: half(200px);
            height: half(200px);
          }
        }
        .van-stepper{
          margin-top:0px;
          float:left;
          padding: 10px;
        }
        .add_cart{
          margin-top:20px;
          float:left;
          margin-left:15px;
        }
        .cart_icon{
          margin-top: 20px;
          margin-left: 10px;
          color: #fc8a04;
          font-size: 20px;
          position:absolute;
          right:15px;
          bottom:15px;
        }
      }
     
      .info {
        margin: half(15px) 0 half(8px) 0;
        padding: 5px;
        .label {
          font-size: half(28px);
          margin-bottom: half(20px);
          color: #333b46;
          height: half(30px);
          line-height: half(30px);
          @include omit;
          
        }
        .desc {
          color: #fc8a04;
          font-size: half(32px);
          line-height: half(26px);
          margin-bottom: half(8px);
        }
        .price {
          color: #fc8a04;
          font-size: half(20px);
          .total {
            font-size: half(40px);
          }
        }
      }
    }
  }
  .title {
    font-size: half(32px);
    color: #333b46;
    font-weight: 500;
    background: #fff;
    padding: half(28px) half(32px);
    border-bottom: half(1px) solid #ddd;
    text-align: left;
    .hot{
      display:inline-block;
      width:120px;
      margin-left:5px; 
  
    }
    .fa-filter{
      float: right;
    }
    .a_link{
      float: right;
      margin-right: 5px;
      text-align: right;
    }
  }
  
  .icon-hot{
     color: rgb(253, 10, 1);
     position: relative;
     top: 0px;
     display:inline;
  }
}
