@import '~@/assets/css/mixin.scss';
@import '~@/assets/css/function.scss';
.todayOrder {
  .title {
    font-size: half(32px);
    color: #333b46;
    font-weight: 500;
    background: #fff;
    padding: half(28px) half(32px);
    border-bottom: half(1px) solid #ddd;
    text-align: left;
    .hot{
      display:inline-block;
      width:120px;
      margin-left:5px; 
  
    }
    .fa-filter{
      float: right;
    }
    .a_link{
      float: right;
      margin-right: 5px;
      text-align: right;
    }
  }
  
  .icon-hot{
     color: rgb(253, 10, 1);
     position: relative;
     top: 0px;
     display:inline;
  }
}
