.account{
    .view_d{
        color:#1989fa;
    }
    .form-item{
        font-size: 13px;
        .form-label{
            line-height: 28px;
            vertical-align: top;
            padding-left: 10px;
        }
        .van-radio-group{
            display: inline-block;
            padding-left: 15px;
            .van-radio{
                display: inline-block;
                height: 30px;        
            }
        }
      
    }
}
