@import '~@/assets/css/function.scss';
@import '~@/assets/css/mixin.scss';
.entry {
  .searchWrapper {
    background: rgba(7, 139, 243, .2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: half(80rpx);
    padding: 0 half(16rpx);
    z-index: 999;
    @include clearfix;
    .selectbox{
      float: left;
      margin-right: half(32rpx);
      position: relative;
      color: #fff;
      height: 100%;
      line-height: half(80rpx);
      .label{
        max-width: half(180rpx);
        margin-right: half(10rpx);
        @include omit;
        font-size: half(26rpx);
        float: left;
      }
    }
    .inputbox{
      width: half(580rpx);
      position: absolute;
      right: half(80rpx);
      top: half(10rpx);
    }
  }
}
.vueBox {
    margin-bottom:16rrpx;
    border-bottom:1rpx #eee solid;
    padding-bottom:8rpx;
    
  i {
      color: #1296DB;
      font-size: half(30rpx);
      float: left;
      margin-top: 0rpx;
      vertical-align: middle;
  }
  .marquee {
      width: 100%;
      height: 40rpx;
      align-items: center;
      color: #3A3A3A;
      background-color: #fff;
      display: flex;
      box-sizing: border-box;
  }
  .marquee_title {
      padding: 0 10rpx;
      height: 40rpx;
      /*关键样式*/
      font-size: half(30rpx);
      line-height: 40rpx;
      border-right: 1rpx solid #d8d8d8;
      align-items: center;
  }
  .marquee_box {
      display: block;
      position: relative;
      width: 60%;
      height: 30rpx;
      margin-left:10rpx;
      /*关键样式*/
      overflow: hidden;
  }
  .marquee_list {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
  }
  .marquee_top {
      transition: top 0.5s;
  }
  /*关键样式*/
  .marquee_list li {
      height: 30rpx;
      /*关键样式*/
      line-height: 30rpx;
      /*关键样式*/
      font-size: half(30rpx);
      padding-left: 20rpx;
  }
  .marquee_list li span {
      padding: 0 2rpx;
      color: #5f6161;
  }
  .red {
      color: #FF0101;
  }
  .anim {
      transition: all 0.5s;
  }
}