.account{
    .card{
        background: #f38739;
        height:100px;
        width: 100%;
        .inner{
            color: #fff;
            font-size: 14px;
            margin:10px;
            .imgs{
              float: left;
              margin: 10px;
              .iconfont1{
                  font-size:25px;
                  margin-top:20px;
              }
            }
            .content{
                float: left;
                margin: 10px;
                margin-top:27px;
            }
            .clear{
                clear: both;
            }
            .code{
                text-align: center;
                padding-bottom: 10px;
                float: left;
                padding-top:55rpx;
                padding-left: 10px;
            }
            .edit{
                float:right;
                margin-right:10px;
                padding-top:55rpx;
            }
        }
    }
    .card-blue{
        background: #37A19D;
    }
    .card-green{
        background: #1ecfd8;
    }
    .card-3{
        background: #771ed8;
    }
}