#team{
    .van-contact-card{
        padding: 15px;
        border-bottom: 4px solid #eee;
    }
    .searchtop{
        padding: 10px;
    }
    .van-cell__value{
        font-size:13px;
        .content{
            display: flex;
            .name{
                flex: 1;
            }
            .tel{
               flex:1;
            }
           
        }
        .createTime{
            color:#999;
        }
    }
}