@import '~@/assets/css/function.scss';
@import '~@/assets/css/variable.scss';
@import '~@/assets/css/order.scss';
#orderDetail {
  .step1{
    padding: 30px 0;
    background: #fff;
  }
  .van-actionsheet{
      max-height: 70%;
  }
}
