@import '~@/assets/css/function.scss';
@import '~@/assets/css/variable.scss';

#OrderList {
  color: $font-color-black;
  scroll-view{
    background: #eee;
  }
  .van-tab__pane{
    height:calc(100vh - 210px);
  }
  .i-page{
    margin-top: 20px;
 }  
}