.wuliu{
    .searchtop{
        padding: 10px;
    }
    .card{
        display: flex;
        padding: 10px;
        background: #fff;
        margin-bottom: 10px;
        .imgs{
             width: 60px;
             img{
                 width: 100%;
             }
             margin:10px 15px;
        }
        .content{
            font-size: 14px;
            .van-button--mini{
                margin-left: 5px;
            }
        }
    }
    .van-steps{
        .van-step__title{
            h3{
                font-size:16px;
                font-weight: 100;
            }
            p{
                margin-top: 5px;
            }
        }
    }
}