@import '~@/assets/css/mixin.scss';
@import '~@/assets/css/function.scss';
.security{
  .van-tabs--line{
    padding-top:0;
  
  }
  .van-tabs__wrap{
    position:static;
  }
  .van-tabs{
    font-size: half(28px);
      .van-tab--active{
    }
     
   
    .content{
      display: flex;
      margin-bottom:15px;
      .nodata{
        width:100%;
      }
      .scroll-view{
        
      }
      .catlog{
         width: 100px;
       
      }
      .list{
        flex:1;
        width:70%;
      }
    }
  }
  .sortList{
    margin-bottom: half(16px);
    @include clearfix;
    height: half(120px);
    display:flex;
    line-height: half(120px);
    &-item{
       flex:1;
      text-align: center;
      margin: auto;
      position: relative;
      color: #999faa;
      .name{
        font-size: half(28px);
        float: left;
      }
      .search{
        position: absolute;
        top: half(54px);
        left: half(120px);
      }
      &.is-active{
        color: #fc8a04;
      }
    }
    .filtrate{
      flex:0 0 24%;
    }
    .price{
      .search{
        top: half(48px);
      }
    }
  }

   .van-popup{
      height: 80%;
      
     .buttons{
       padding-top: 20px;
       padding-bottom:15px;
       .btn{
          width: 100px;
          height: 30px;
          line-height: 30px;
          border-radius: 4px;
          float: left;
          margin-left: 10px;
       }
      
       .btn-reset{
         background: #fff;
         border: none;
         border: 1px solid #eee;
       }
       .btn-confirm{
        background: #1989fa;
        border: none;
        color: #fff;
        float: right;
        margin-right: 10px;
       }
      //  .buttonActive{
      //   background: #fa8d19;
      //   transition: cubic-bezier(0.25, 0.46, 0.45, 0.94) 5000;
      //  }
      .btn{
        position: relative;
        //此处不需要设置overflow:hidden,因为after元素需要溢出显示
      }
      .btn:focus{
          outline: none;
      }
      .btn:active:after {
        opacity: .3;
        //设置初始状态
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0s;
    }

      .btn:after {
        content: "";
        display: block;
        position: absolute;
        //扩大伪类元素4个方向各10px
        top: -10px;
        left: -10px;
        right: -10px;
        bottom: -10px;
        pointer-events: none;
        background-repeat: no-repeat;
        background-position: 50%;
        opacity: 0;
        transition: all .3s;
      }
      .btn-reset:after {
        background-color: rgb(97, 174, 236);
      }
      .btn-confirm:after {
       
        background-color: rgb(224, 128, 18);
      }
      .btn-confirm:active:after {
        opacity: 0.5; 
      }
      
  
     }
     .search{
       padding-left: 10px;
       padding-right: 10px;
       .item{
          margin-bottom:10px;
         .title{
           font-size: 14px;
         }
          
       }
     }
   }
   .clear{
     clear: both;
   }
}
