.listcontent{
	display: flex;
	flex-wrap: wrap;
	.card{
		max-width:240px;height: 336px;overflow: hidden;
		:global {
			.ant-card-body{
				padding:10px
			}
		}
	}
	
	.clear{
		clear:both;
	} 
	
}
 

 