@import '~@/assets/css/mixin.scss';
@import '~@/assets/css/function.scss';
.lists {
  &-item {
    padding: half(16px) half(32px) half(30px);
    background: #fff;
    overflow: hidden;
    position: relative;
    border-bottom: half(1px) solid #ddd;
   
    &:last-child {
      border: 0;
    }
    .imgs {
     
      width: half(170px);
      height: half(170px);
      background: #ccc;
      flex: none;
      .img{
        height: 100%;
        width: 100%;
      }
    }
    .van-stepper{
      margin-top:6px;
      float:left;
     
    }
    .add_cart{
      position:absolute;
      right:20px;
      bottom:14px;
      
    }
    .info {
      margin: half(8px) 0 half(8px) half(15px);
     flex: 1;
     position: relative;
     
      .label {
        font-size: half(28px);
        margin-bottom: half(32px);
        color: #333b46;
        max-height:45px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        width: 160px;
      }
      .desc {
        color: #bbc0cb;
        font-size: half(24px);
        @include omit;
        line-height: half(26px);
        margin-bottom: half(8px);
      }
      .price {
        color: #fc8a04;
        font-size: half(20px);
        .total {
          font-size: half(40px);
        }
      }
    }
  }
}
