@import '~@/assets/css/mixin.scss';
@import '~@/assets/css/function.scss';
.lists {
  &-item {
    padding: half(16rpx) half(32rpx) half(30rpx);
    background: #fff;
    overflow: hidden;
    position: relative;
    border-bottom: half(1rpx) solid #ddd;
   
    &:last-child {
      border: 0;
    }
    .imgs {
     
      width: half(170rpx);
      height: half(170rpx);
      background: #ccc;
      flex: none;
      .img{
        height: 100%;
        width: 100%;
      }
    }
    .van-stepper{
      margin-top:10rpx;
      float:left;
     
    }
    .add_cart{
      margin-top:20rpx;
      float:left;
      margin-left:15rpx;
    }
    .info {
      margin: half(8rpx) 0 half(8rpx) half(15rpx);
     flex: 1;
     position: relative;
     
      .label {
        font-size: half(28rpx);
        margin-bottom: half(32rpx);
        color: #333b46;
        max-height:45rpx;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        width: 180rpx;
      }
      .desc {
        color: #bbc0cb;
        font-size: half(24rpx);
        @include omit;
        line-height: half(26rpx);
        margin-bottom: half(8rpx);
      }
      .price {
        color: #fc8a04;
        font-size: half(20rpx);
        .total {
          font-size: half(40rpx);
        }
      }
    }
  }
}
