.category{
    .cat_ul{
        .cat_li{
            text-align: center;
            border: 1rpx solid #eee;
            padding: 10rpx 10rpx;
            position: relative;
            .cat_span{
              color:#333;
              text-decoration: none;
            }
        }
        .active{
            background: #fff;
            &:before{
                position: absolute;
                content:'';
                height:85%;
                left:0;
                top:2rpx;
                width: 3rpx;
                background: #ce2323;
            }
        }
        
    }
}